html,
body {
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
}

/* INPUT */
.text-input {
    margin: 20px 0 0;

    &>label {
        display: block;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }

    &>input[type="text"] {
        display: inline-block;
        margin: 0;
        border: 2px solid #ebebeb;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 8px;
        width: 100%;
        height: 60px;
        font-size: 1rem;
        background: none;
        transition: border 0.2s ease-in-out;
        cursor: pointer;
    }

    &>input[type="text"]::placeholder {
        color: #ccc;
    }

    &>input[type="text"]:focus {
        border: 2px solid #7f56da;
        box-shadow: 0 0 3px #7f56da;
        outline: none;
    }
}

.radio-wrap {
    margin-top: 20px;

    .radio-title {
        margin-bottom: 10px;
        font-size: 0.8rem;
    }
}

.radio-input {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 15px;

    &>input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;

        &+label:before {
            transition: background 0.1s ease-in-out;
            background-position: -88px 0
        }

        &:checked+label:before {
            background-position: -110px 0
        }
    }


    &>label {
        display: block;
        position: relative;
        padding-left: 26px;
        height: 22px;
        line-height: 22px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 22px;
            height: 22px;
            background: url(../images/icon_input.png) no-repeat;
        }

    }
}

/* BUTTON */
.basic-btn {
    margin: 0;
    &>button[type="button"] {
        display: inline-block;
        border: 2px solid #7f56da;
        border-radius: 10px;
        padding: 0;
        width: 100%;
        height: 60px;
        font-size: 1rem;
        font-weight: bold;
        background: #7f56da;
        color: #fff;
        cursor: pointer;
    }
}

/* LAYOUT */
.con-wrap {
    box-sizing: border-box;
    padding: 60px 20px 110px;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;

    .visual {
        margin-top: 40px;
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    /* 다음 패널(보여질 패널) */
    &.next.slide-enter-active {
        transition: all 5s ease-in-out;
    }

    &.next.slide-enter-from {
        position: absolute;
        right: -100%;
        opacity: 0;
    }

    &.next.slide-enter-to {
        position: absolute;
        right: 0;
        opacity: 1;
    }

    /* 다음 패널(사라질 패널) */
    &.next.slide-leave-active {
        transition: all 5s ease-in-out;
    }

    &.next.slide-leave-from {
        position: absolute;
        left: 0;
    }

    &.next.slide-leave-to {
        position: absolute;
        left: -100%;
        opacity: 0;
    }

    /* 이전 패널(보여질 패널) */
    &.prev.slide-enter-active {
        transition: all 5s ease-in-out;
    }
    &.prev.slide-enter-from {
        position: absolute;
        left: -100%;
        opacity: 0;
    }

    &.prev.slide-enter-to {
        position: absolute;
        left: 0;
        opacity: 1;
    }

    /* 이전 패널(사라질 패널) */
    &.prev.slide-leave-active {
        transition: all 5s ease-in-out;
    }

    &.prev.slide-leave-from {
        position: absolute;
        right: 0;
    }

    &.prev.slide-leave-to {
        position: absolute;
        right: 100%;
        opacity: 0;
    }
}

/* HEADER */
.header-wrap {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    .header-title {
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        font-weight: bold;
    }
    .header-back-btn {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        width: 60px;
        height: 60px;;
        font-size: 20px;
        background: none;
        cursor: pointer;

    }
}

/* FOOTER */
.footer-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    .footer-inner {
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }
}